* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #0d0d1a;
    color: #e0e0e0;
}

/*header*/
.inicio {
  display: flex;
  padding: 0 0 0.3rem 2rem;
  color: rgb(123, 71, 255);
  text-underline-offset: 0.7rem;
  text-decoration-thickness: 0.2rem;
  text-decoration-color: rgba(123, 71, 255, 1);
  font-size: 0.8rem;
  font-weight: bold;
  background: rgba(15, 15, 35, 0.95);
}

.categorias {
  display: flex;
  color: rgba(216, 210, 225, 0.55);
  text-decoration: none;
  padding: 0 0 0.3rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  background: rgba(15, 15, 35, 0.95);
}

.professores1 {
  display: flex;
  color: rgba(216, 210, 225, 0.55);
  text-decoration: none;
  padding: 0 0 0.3rem 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  background: rgba(15, 15, 35, 0.95);
}

/*fim header */

 /* main */
 
 .sbemvindo {
  background: linear-gradient(
  rgba(102, 54, 190, 1.05) 0%,
  rgba(102, 54, 190, 0.34) 40%,
  rgba(102, 54, 190, 0.04) 80%
  );
 }

.bvozalunos {
  border-radius: 1rem;
  color: rgba(102, 54, 190, 1.05);
  padding: 0.5rem 0.8rem 0.5rem 1.2rem;
  margin: 2rem 1rem;
  background: rgba(179, 136, 255, 0.77);
  font-size: 1rem;
  border: none;
}

.dbemvindo {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding: 4rem 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

.d1bemvindo h1 {
  font-size: 3rem;
}

.d1bemvindo p {
  display: block;
  margin: 2rem auto 0 auto;
  max-width: 30rem;
  line-height: 1.8rem;
  color: rgba(216, 210, 225, 0.55);
}

.destaque {
  background: linear-gradient(90deg, #7545c0 0%, #DB598C 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.dbavaliar {
  display: flex;
  margin: 0 auto;
}

.bavaliar {
  border-radius: 0.8rem;
  padding: 1rem 1.8rem;
  color: white;
  background: linear-gradient(135deg, #7c4dff 0%, #6200ea 100%);
  font-size: 0.9rem;
  border: none;
  cursor: pointer;
}

.bcategorias {
  border-radius: 0.8rem;
  padding: 1rem 1.8rem;
  color: white;
  background-color: rgba(88, 78, 113, 0.14);
  border: 1px solid rgba(84, 77, 93, 0.72);
  margin: 0 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.dcentral {
  display: flex;
  text-align: center;
}

.dprofessoresavaliados {
  background-color: rgba(88, 78, 113, 0.14);
  border: 1px solid rgba(84, 77, 93, 0.72);
  text-align: center;
  flex-direction: column;
  padding: 2rem 0;
  width: 20%;
  height: 10%;
  margin: 2rem auto;
  border-radius: 1.5rem;
  transition: all 1s ease-out;
}

.dprofessoresavaliados:hover {
  border: 0.1rem solid rgba(95, 69, 159, 0.952);
  width: 22%;
  height: 12%;
}

.iconeavaliar {
  width: 3rem;
  height: 3rem;
  background-color: rgba(95, 69, 159, 0.342);
  border-radius: 1rem;
  margin: 0 auto 0.5rem auto;
}

.vertodos {
  display: flex;
  padding: 1rem 2rem 0.5rem 2rem;
}

.vertodos a {
  text-decoration: none;
  margin-left: auto;
  font-size: 1.6rem;
  justify-content: center;
}


.dprofessorestodos {
  margin: 2rem 2rem;
}

.dprofessores {
  display: flex;
  background-color: rgba(88, 78, 113, 0.14);
  border: 1px solid rgba(95, 69, 159, 0.71);
  width: 100%;
  height: 8rem;
  padding: 1rem 1rem 1rem 2rem;
  line-height: 2rem;
  border-radius: 0.7rem;
  margin: 1rem 0;
  cursor: pointer;
}

.materia {
  color: rgba(160, 156, 163, 1);
}

.avaliacoes {
  color: #535353;
}

.avaliacao {
  display: flex;
  margin: auto 0 auto auto;
 align-items: center;
 background-color: rgba(152, 160, 47, 0.37);
 width: 6rem;
 height: 3rem;
 border-radius: 1rem;
 padding: 0 1.3rem;
 color: #E4CB2D;
 border: 2px solid #E4CB2D5E;
}

.comofunciona {
  text-align: center;
  padding: 5rem 0 2rem 0;
}

.dpassos {
  display: flex;
  justify-content: center;
  gap: 2rem;
  
}

.passos {
  padding: 2.5rem 1.5rem;
  line-height: 1.3rem;
  background-color: rgba(88, 78, 113, 0.14);
  border: 1px solid rgba(84, 77, 93, 0.72);
  width: 20%;
  height: 15rem;
  border-radius: 1.5rem;
  text-align: center;
  transition: all 1s ease-out;
}

.passos:hover {
  border: 0.1rem solid rgba(95, 69, 159, 0.71);
  width: 22%;
  height: 16rem;
}

.passos h2 {
  margin-bottom: 1rem;
  
}

.passos p{
  color: rgba(255,255,255,0.7);
  font-size: 0.9rem;
}

.iconecomo {
  width: 3rem;
  height: 3rem  ;
  background-color: rgba(95, 69, 159, 0.342);
  border-radius: 1rem;
  margin: 0 auto 1.5rem auto;
}


/*fim main*/

/*footer*/

hr {
  border: 0.1px solid rgb(51, 51, 51);
  margin: 3rem 0;
}

footer {
  text-align: center;
  padding: 2rem 0;
}

/*fim footer*/